@include font-face("EY-interstate-regular", "../fonts/ey/EY-interstate-regular", $file-formats: eot otf svg ttf woff);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
$brand: ey;

//Brand colours

$primary-color: #FFE600;
$secondary-color: #2D2D2D;
$background-color: $secondary-color;

//Text colours

$menu-item-text-color: #333333;
$body-color: #333333;
$heading-color: $primary-color;

//Border radius

$radius: 4px;
$border: 1px solid #c0c0c0;

//Fonts

$heading-font: EY-interstate-regular, sans-serif;
$body-font: Noto Sans, sans-serif;

//Mixins

@mixin sectionBtn {
  background: $primary-color;
  color: $body-color;
  font-family: $heading-font;
  padding: 16px 15px 15px 16px;
  margin: 8px 0;
  text-align: center;
  border-right: $border;
  border-bottom: $border;

  &:hover {
    border: 0;
    padding: 16px;
  }

  &:active {
    border: $border;
    padding: 15px;
  }

}

@mixin grid-item-text-bg {
  height: 107px;
  width: 100%;
  position: absolute;
  bottom: -25px;
  background: url("../img/#{$brand}/text-bg.png") no-repeat;
  background-size: cover;
  @media (min-width: $sm ) {
    bottom: 0;
  }
}

@mixin help-grid-item-text-bg {
  height: 107px;
  width: 100%;
  position: absolute;
  bottom: -25px;
  background: url("../img/#{$brand}/help-text-bg.png") no-repeat;
  background-size: cover;
  @media (min-width: $sm ) {
    bottom: 0;
  }

}

@mixin grid-item-text-align {
  @include align-self(flex-end);

  text-align: right;
}

@mixin main-element-shadow {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.65);
}

@mixin section-btn-shadow {
  // box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

h2 {
  font-family: $heading-font;
}

p {
  line-height: 22px;
  margin: 8px 0;

}


ul {
  li {
    margin-bottom: 8px;
    line-height: 22px;
  }
}
